@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("https://wallpaperaccess.com/full/1285952.jpg");
  background-position: center;
  background-size: cover;
}